
<%= render @quote %>

<div class="navigation"> 
  <div class="previous">  
    <% if @quote.previous %>  
      <%= link_to "prev", @quote.previous %>
    <% end %>
  </div>
  <div class="random" >
    <%= link_to "random", random_path %>
  </div>
  <div class="next">
    <% if @quote.next %>
      <%= link_to "next", @quote.next %>
    <% end  %>
  </div> 
</div>